body {
	font: 12px/170% 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, Sans-Serif;
	color: #666666; 	
	margin: 0; 
	padding: 0; 
	text-align: center;
}

/* Links */
a 
{
    font-size:1.0em;
    color:#666;
}
a:link, a:visited {
	text-decoration: none;
}
a:hover {
	border-bottom: 1px dotted #FFF;
}
a:link.more-link, a:visited.more-link {
	padding-bottom: 2px;
	font-weight: bold;
	border-bottom: 1px dotted #FFF;
}
a:hover.more-link {
	text-decoration: none;
}

/* Headers */
h1, h2, h3, h4 {
	font: bold 1em/1.5em Georgia, 'Times New Roman', Times, serif;
	color: #555;
	/*margin: 10px 20px 7px 20px;	 */
}
h1 { font-size: 1.4em; font-weight: normal; letter-spacing: -2px; }
h2 { font-size: 1.3em; font-weight: normal; }
h3 { font-size: 1.2em; font-weight: normal; letter-spacing: -0.5px; padding-top: 15px; }
h4 { font-size: 1.1em; }

/* Lists */
ul, ol {
	margin: 0px;
	padding: 0px;
	font-size:1.0em;
}
ul { list-style: disc; }
ol { list-style: decimal; }

dt {
  font-weight: bold;
  color: #1980AF;	
}
dd {
  padding-left: 20px; 
}

p, dl { padding:5px; font-size:1.0em; font-weight:normal; }

/* Images */
img {

}


/* alignment classes & additional classes*/
.float-left  { float: left; }
.float-right { float: right; }
.align-left  { text-align: left; }
.align-right { text-align: right; }
.align-center { text-align: center; }
.no-border { border: none; }
.no-bg {	background: none; }


/* Misc */

#header-wrapper 
{
    
}
#header-container
{
    
}

#headline-wrapper
{
}
#headline-container 
{
}

#main-wrapper
{
}
#main-container 
{
    padding:15px 5px 10px 5px;
}

#footer-wrapper
{
    background:#3787a8;
    color:#FFF;
}
#footer-container
{
    padding:5px 2px 5px 2px;
    font-size:0.8em;
}

.color-white 
{
    color: #FFF;
}

